node_modules/
.env
.env.*
!.env.example

__pycache__/

accounts.db

node_modules/
.env
.env.*
!.env.example

__pycache__/

accounts.db

epic-content.json
epic-fortnite-game.json
full-news-response.json